.header {
  &__container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 1.5rem 3rem;
    width: 100%;

    @include breakpoint(sm) {
      padding: 2.87rem 5.93rem;
    }
  }

  &__logo-link {
    color: palette(white);
    font-weight: 800;
    text-decoration: none;
    transition: color $transition-time;

    &:hover {
      color: palette(grey, link);
    }
  }

  &__nav {
    flex-grow: 1;
  }
}
