.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &--start {
    justify-content: flex-start;
  }

  &__link {
    color: palette(white);
    padding: 0 .5rem;
    transition: color $transition-time;

    &:hover {
      color: palette(grey, link);
    }
  }
}
